<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="count-info" href="@Url.Action("Cart", "Ecommerce")">
                    <i class="fa fa-cart-plus"></i><span class="label label-primary" id="cart-count-label"></span>Cart
                </a>
            </li>
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOut" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" onclick="document.getElementById('logOut').submit()">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    }
                }
                else
                {
                    <a href="@Url.Action("LogIn", "Account", new { ReturnUrl = ViewBag.ReturnUrl })">
                        <i class="fa fa-sign-in"></i> Log in
                    </a>
                }
            </li>
            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>