@{
    ViewBag.Title = "About our company";
    ViewBag.Message = "TPP team is the best in making templates for web";
}
   @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Our main focus is on the development of web applications. We make our clients life easier
    through effective content management systems such as, Drupal, Wordpress and Magento.<br />
    Our team of UI/UX experts can point your Design in the right direction.
    Our UI engineers develop prototypes of user interfaces using HTML, CSS and JS libraries.<br />
    With a massive knowledge of cloud technologies and team of expertise,
    Kalevsoft can provide you better solution with cloud technologies, without compromising quality and security.
<br />
    We adopt an iterative approach to verify expected outcomes of application. This approach start from the very first phase of
    development to the time when the application is ready to deliver to client.
</p>
